<div class="bl_bookmarks__item">
  <!-- Title -->
  <% if bookmark.title.present? %>
    <%= link_to bookmark_path(current_user, bookmark), class: "bl_bookmarks__item--a-tag" do %>
      <h5 class="bl_bookmarks__item--title">
        <span class="<%= flag_color(bookmark.flag) if bookmark.flag.present? %>" title="<%= bookmark.flag.name if bookmark.flag.present? %>">
        <span class="bl_favicon"><%= image_tag bookmark.favicon if bookmark.favicon? %></span>
        </span><%= bookmark.title %></h5>
    <% end %>
  <% end %>
  <!-- Url -->
    <p class="bl_bookmarks__item--url"><a href="<%= bookmark.url %>"> <%= bookmark.url %> </a></p>

  <!-- Meta section -->
    <section class="clearfix bl_bml__item--meta">
        <div class="float-left bl_bml__item--meta__topic">
          <% if bookmark.topic.present? %>
            <i class="ion-ios-list-outline bl_bml__item--meta__topic--icon" title="Topic name"></i>
            <span class=" hvr-grow bl_bml__item--meta__topic--name"><%= link_to bookmark.topic.name, topic_path(current_user, bookmark.topic) %></span>
            <% if bookmark.topic.is_public? %> <i class="ion-ios-people bl_bml__item--meta__lock--icon" title="This topic is public"></i> <% end %>
          <% end %>
        </div>

        <div class="float-right">
            <date><%= bookmark.created_at.strftime("%d %b %Y") %></date>
        </div>
    </section>
</div>
