<div class="row">
  <div class="large-8 columns large-centered">
    <%= form_for(bookmark, url: url) do |f| %>
      <%= f.text_field :url %>
      <%= f.collection_radio_buttons :flag_id, Flag.all, :id, :name %>
      <%#= f.collection_select :topic_id, Topic.all, :id, :name, {}, {id: "topic-select"} %>
      <%= f.collection_select :topic_name, Topic.all, :name, :name, {include_blank: true}, {id: "topic-select"} %>
      <br>
      <%= f.submit "Create" %>
    <% end %>
  </div>
</div>
