<div class="row bl_bookmark__new--extension">

    <div class="bl_bookmark__new--extension__form">
      <%= form_for(@bookmark, url: bookmarks_path(current_user)) do |f| %>

        <%= f.label :title %>
        <%= f.text_field :title, value: params[:title], placeholder: "title" %>

        <%= f.label :url %>
        <%= f.text_field :url, value: params[:url], placeholder: "url" %>

        <%= f.label :description %>
        <%= f.text_field :description, placeholder: "description" %>

        <%= f.label :flag %>
        <%= f.collection_radio_buttons :flag_id, Flag.all, :id, :name%>

        <%= f.label :topic %>
        <%= f.collection_select :topic_id, Topic.where(user_id: current_user), :id, :name, {include_blank: true}, {id: "topic-select"} %>

        <%#= f.collection_select :topic_name, Topic.where(user_id: current_user), :name, :name, {include_blank: true}, {id: "topic-select"} %>

        <%= f.hidden_field :favicon, value: params[:favIcon] %>
        <%= f.hidden_field :favicon, value: params[:title] %>
        <br>
        <%= f.submit "Create", { class: "button success"} %>
      <% end %>
    </div>
</div>
