<%= page_title "Bloi - Bookmarks" %>

<div class="row columns bl_tools__wrapper clearfix">
    <section class="float-left">
        <div class="bl_tools__count--wrapper">
            <%= @bookmarks.count %>
        </div>
    </section>
    <section class="float-right">
      <%= form_tag(bookmarks_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "search", class: "bl_tools__search" %>
      <% end %>
    </section>
</div>


<div class="row columns  bl_bookmarks__list">
  <% if @bookmarks.empty? && !params[:search].present? %>
    <div class="bl_bookmarks__empty">
      <h4 class="bl_bm_empty__lead">You don't seem to have any bookmarks.</h4>
      <%= link_to "https://chrome.google.com/webstore" do %><div class="bl_bm_empty__store"><%= image_tag "webstore.png" %></div><% end %>
      <p class="bl_bm_empty__link">Download <a href="https://chrome.google.com/webstore">Bloi - chrome extention</a> to quickly save new bookmarks.</p>
      <p class="bl_bm_empty__link">or</p>
      <p class="bl_bm_empty__link"><%= link_to "Create new", new_bookmark_path(current_user) %></p>
    </div>
  <% end %>
  <%= render @bookmarks %>
</div>

<%#= will_paginate @bookmarks, :page_links => true %>
<%= render "paginate", object: @bookmarks %>
