<%= page_title "Bloi - Bookmarks" %>

<div class="row bl_tools__wrapper clearfix">
    <section class="float-left">
        <div class="bl_tools__count--wrapper">
            <%= current_user.bookmarks.count %>
        </div>
    </section>
    <section class="float-right">
      <form action="index.html" method="post">
        <input type="text" class="bl_tools__search" placeholder="search">
      </form>
    </section>
</div>


<div class="row bl_bookmarks__list">
  <% if @bookmarks.empty? %>
    <div class="bl_bookmarks__empty">
      <h4 class="bl_bm_empty__lead">You don't seem to have any bookmarks.</h4>
      <%= link_to "https://chrome.google.com/webstore" do %><div class="bl_bm_empty__store"><%= image_tag "webstore.png" %></div><% end %>
      <p class="bl_bm_empty__link">Download <a href="https://chrome.google.com/webstore">Bloi - chrome extention</a> to quickly save new bookmarks.</p>
      <p class="bl_bm_empty__link">or</p>
      <p class="bl_bm_empty__link"><%= link_to "Create new", new_bookmark_path(current_user) %></p>
    </div>
  <% end %>
  <% @bookmarks.each do |bookmark| %>
    <div class="bl_bookmarks__item">
      <!-- Title -->
      <% if bookmark.title.present? %>
        <%= link_to bookmark_path(current_user, bookmark), class: "bl_bookmarks__item--a-tag" do %>
          <h5 class="bl_bookmarks__item--title"><span class="<%= flag_color(bookmark.flag.id) if bookmark.flag.present? %>" title="<%= bookmark.flag.name if bookmark.flag.present? %>"></span><%= bookmark.title %></h5>
        <% end %>
      <% end %>
      <!-- Url -->
        <p class="bl_bookmarks__item--url"><a href="<%= bookmark.url %>"> <%= bookmark.url %> </a></p>

      <!-- Meta section -->
        <section class="clearfix bl_bml__item--meta">
            <div class="float-left bl_bml__item--meta__topic">
              <% if bookmark.topic.present? %>
                <i class="ion-ios-list-outline bl_bml__item--meta__topic--icon" title="Topic name"></i>
                <span class="bl_bml__item--meta__topic--name"><%= link_to bookmark.topic.name, topic_path(current_user, bookmark.topic) %></span>
                <i class="ion-ios-locked bl_bml__item--meta__lock--icon" title="This topic is private"></i>
              <% end %>
            </div>

            <div class="float-right">
                <date><%= bookmark.created_at.strftime("%d %b %Y") %></date>
            </div>
        </section>
    </div>
  <% end %>
</div>
