<%= page_title "Bloig - login" %>

<div class="bl_user_login">
  <h3>Log in</h3>

  <div class="bl_user_login--form_wrapper">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :username, required: false %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>
  </div>

  <%= render "users/shared/links" %>
</div>
