<div class="bl_topic__form">

    <% if @topic.errors.any? %>
      <p class="bl_error">Fix the errors and try again</p>
    <% end %>

    <%= form_for(topic, url: url) do |f| %>

      <%= f.label "Topic name" %>
      <%= f.text_field :name, placeholder: "name" %>
      <p class="help-text bl_error"><%= @topic.errors[:name].first %></p>

      <%= f.label "Topic description" %>
      <%= f.text_field :description, placeholder: "description" %>

      <%= f.check_box :is_public, id: "topic_is_pulbic" %><label for="topic_is_pulbic">Make it public?</label>
      <br>
      <%= f.submit "Create", class: "button secondary" %>
    <% end %>
</div>
