<div class="bl_topic__form">
    <%= form_for(topic, url: url) do |f| %>

      <%= f.label "Topic name" %>
      <%= f.text_field :name, placeholder: "name" %>

      <%= f.label "Topic description" %>
      <%= f.text_field :description, placeholder: "description" %>
      <br>
      <%= f.submit "Create", class: "button secondary" %>
    <% end %>
</div>
