<%= page_title "Topics" %>

<div class="row bl_tools__wrapper clearfix">
    <section class="float-left">
        <div class="bl_tools__count--wrapper">
            <span><%= @topics.count %></span>
        </div>
        <div class="bl_tools__new--wrapper">
          <%= link_to "Create new topic", new_topic_path(current_user) %>
            <!-- <a href="">Create new topic</a> -->
        </div>
    </section>
    <section class="float-right">
      <%= form_tag(topics_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "search", class: "bl_tools__search" %>
      <% end %>
    </section>
</div>

<div class="row bl_topics__list">
  <% if @topics.empty?  && !params[:search].present?  %>
    <div class="bl_topics__empty">
      <h4 class="bl_tp_empty__lead">You don't seem to have any topics.</h4>
      <p class="bl_tp_empty__link"><%= link_to "Create new", new_topic_path(current_user) %></p>
    </div>
  <% end %>
   <% @topics.each do |topic| %>
    <div class="bl_topics__item">
        <section class="bl_tp__title--wrapper clearfix">
          <%= link_to topic_path(current_user, topic), class: "bl_tp__title--a-tag" do %>
            <h5 class="bl_tp__title float-left"> <%= topic.name %> </h5>
            <% if topic.is_public? %> <i class="ion-ios-people bl_tp__title--public-icon" title="This topic is public"></i> <% end %>
          <% end %>
            <div class="bl_tp__count float-right"> <%= topic.bookmarks.count %> </div>
        </section>

        <section class="bl_tp__links--wrapper">
            <ul class="bl_tp__links--list">
              <% topic.bookmarks.each do |bm| %>
                <li class="bl_tp__links--item"><%= link_to bm.title, bookmark_path(current_user, bm) %></li>
              <% end %>
            </ul>
        </section>
    </div>
    <% end %>
</div>
