<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/header" %>
  </head>

  <body id="<%= params[:controller].parameterize %>_controller">

    <div class="bl_header">
      <%= render "layouts/navbar" %>
    </div>


    <div class="row bl_content__wrapper">

      <section class="flash-messages">
          <% if alert  %>
            <section class="callout alert" data-closable>
              <%= alert %>
              <button class="close-button" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </section>
          <% elsif notice   %>
            <section class="callout success" data-closable>
              <%= notice %>
              <button class="close-button" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </section>
          <% end %>
      </section>

      <!-- <section class="large-12 large-centered columns">
        <%#= yield %>
      </section> -->

      <%= yield %>

    </div>

    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
    <script type="text/javascript">
      $(function(){ $(document).foundation(); });

      // select2
      // $(document).ready(function() {
      //   $("#topic-select").select2({
      //     tags: false
      //   });
      // });
    </script>
  </body>
</html>
