<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/header" %>
  </head>

  <body id="<%= params[:controller].parameterize %>_controller">
    <div class="header">
      <%= render "layouts/navbar" %>
    </div>


    <div class="row">

      <section class="flash-messages">
        <% flash.each do |key, value| %>
        <section class="callout warning"><%= notice if flash.notice.present? %></section>
          <% if flash.alert.present? %>
            <section class="callout alert"><%= alert %></section>
          <% end %>
        <% end %>
      </section>

      <section class="large-12 large-centered columns">
        <%= yield %>
      </section>

    </div>

    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
    <script type="text/javascript">
      $(function(){ $(document).foundation(); });

      // select2
      $(document).ready(function() {
        $("#topic-select").select2({
          tags: true
        });
      });
    </script>
  </body>
</html>
