<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/header" %>
  </head>

  <body id="<%= params[:controller].parameterize %>_controller">
    <div class="header">
      <%= render "layouts/navbar" %>
    </div>


    <div class="row">

      <section class="flash-messages">
        <% flash.each do |key, value| %>
        <section class="callout warning"><%= notice if flash.notice.present? %></section>
        <section class="callout alert"><%= alert if flash.alert.present? %></section>
        <% end %>
      </section>

      <section class="large-12 large-centered columns">
        <%= yield %>
      </section>

    </div>

    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
    <script type="text/javascript">
      $(function(){ $(document).foundation(); });
    </script>
  </body>
</html>
