<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <section class="flash-messages">
      <% flash.each do |key, value| %>
      <section class="callout warning"><%= notice %></section>
      <section class="callout alert"><%= alert %></section>
      <% end %>
    </section>

    <%= yield %>

  </body>
</html>
